html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#mbike{
  width: 960px;
  height: 30rem;
  border: red solid 0.1rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
}

#topbar{
  color: white;
  background-color: black;
  border: red solid 0.1rem;
}
